/* ChatView */
.chats__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.chats__content {
  flex: 1;
}

.footer__left {
  p {
    color: #fff;
    margin: 0;
  }
}

.footer__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  .footer__btn {
    cursor: pointer;
  }
  
  svg {
    font-size: 21px;
    color: #fff;
  }
}

.chat__info {
  p {
    margin: 0;
  }
}

.chat__last-message {
  p {
    font-size: 14px;
    opacity: 0.8;
    margin: 0;
  }
}

/* Chat */
.chats__chat {
  flex: 0.7;
  height: 100%;
}

.chat__room {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.thread__container {
  flex: 1;
  height: 70vh;
}

.chat__item {
  background-color: var(--light-blue);
  padding: 0.5em;
  display: flex;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-family: "Poppins-Medium";
  letter-spacing: 0.5px;
  cursor: pointer;

  &.active {
    background-color: #F0F0F0;
    color: #333;
  }

  &:last-of-type {
    border: none;
  }
}

.chat__photo {
  background-color: var(--blue);
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Poppins-Bold";
  margin-right: 1em;
}

/* Chat Heading */
.chat__header {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  min-height: 50px;
  padding: 0 1em;

  h3 {
    color: #fff;
    margin: 0;
  }
}

.message__typing-user {
  align-items: center;
  min-height: 25px;
  padding-left: 1.5em;
  background-color: transparent;

  p {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
}